

.rs_info_mid{
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}
.rs_info_mid img{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
}
.rs_info_title{
  position: relative;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  float: left;
}
.rs_info_title h1{
  text-align: center;
}
.rs_about{
  position: relative;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 90%;
  height: 10%;
  float: left;
}
.rs_about h2{
  text-align: left;
}
.rs_about_text{
  width: 80%;
  height:30%;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}
.rs_about_text{
  margin: 0;
  padding: 0;
  font-size: 100%;
}
