

.rs_info_mid{
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}
.rs_info_mid img{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
}
.rs_info_title{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  float: left;
}
.rs_info_title h1{
  text-align: center;
}
.rs_info_about_block{
  width: 50%;
  height: 75%;
  text-align: center;
  float: left;
}
.rs_info_about_block .rs_info_about_name{
  width: 95%;
  height: 5%;
}
.rs_info_about_block .rs_info_about_img{
  width: 55%;
  height: 15%;
  margin-bottom: 5%;
  float: left;
}
.rs_info_about_img img{
  width: 20%;
  height: 10%;
  border-radius: 100%;
}
.rs_info_about_block .rs_info_about_context{
  width: 80%;
  height: 60%;
  float: left;
}
