

.mid{
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}
.mid img{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
}
.title{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  float: left;
}
.title img{
  width: 100%;
  height: 100%;
  position: relative;
}
.about_block{
  width: 50%;
  height: 75%;
  text-align: center;
  float: left;
}
.about_block .about_name{
  width: 95%;
  height: 5%;
}
.about_block .about_img{
  width: 55%;
  height: 15%;
  margin-bottom: 5%;
  float: left;
}
.about_img img{
  width: 20%;
  height: 10%;
  border-radius: 100%;
}
.about_block .about_context{
  width: 80%;
  height: 60%;
  float: left;
}
