

.mid{
  position: relative;
  margin: 0px auto;
  height: 100%;
  width: 100%;
}
.mid img{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
}
.title{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  height: 10%;
  float: left;
}
.title img{
  width: 100%;
  height: 100%;
  position: relative;
}
.context{
  width: 100%;
  height: 30%;
  float: left;
  text-align: center;
}
.information{
  width: 100%;
  height: 45%;
  float: left;
}
label{
  margin-left: 10%;
}
input {
  display: block;
  margin-left: 10%;
  margin-bottom: 5%;
  border-radius: 3px;
  background-color: rgb(232, 214, 137);

}
.long{
  display: block;
  height: 100px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
  border-radius: 3px;
  background-color: rgb(232, 214, 137);
}
.submit{
  margin: 0 auto;
}
